:root {
  --background-color: #ffffff;
  --background-color-gradient: #f5f5f5;
  --typography-font-color: #2c2b2e;
}

html,
body {
  margin: 0px;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

p {
  line-height: 32px;
  letter-spacing: 0px;
}

h1 {
  font-size: 56px;
}

button {
  background-color: #009efe;
  font-family: 'Larken', Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #ffffff;
  padding: 20px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

img.fluid-image {
  width: 80%;
  max-width: 100%;
  height: auto;
}
